<div class="container">
<div class="displayFilters">
    Discover <tag-input [(ngModel)]="filterObject" [displayBy]="'value'" [onRemoving]="onRemove"
        [secondaryPlaceholder]="''">
        <button class='filterSelect' mat-button (click)="showFilters()">SELECT FILTER</button>
    </tag-input>

</div>
<div class="filterSection" *ngIf='showFilter'>
    <div class="filters">
        <label class="filterLabel">Regions</label>
        <div class="filterItems" *ngFor="let item of regionArray">
            <app-check-box [checkBoxLabel]="item" (checkBoxSelect)="checkBoxSelect($event)"></app-check-box>
        </div>
    </div>
    <div class="filters">
        <label class="filterLabel">LOBs</label>
        <div class="filterItems" *ngFor="let item of lobArray">
            <app-check-box [checkBoxLabel]="item" (checkBoxSelect)="checkBoxSelect($event)"></app-check-box>
        </div>
    </div>
    <div class="filters">
        <label class="filterLabel">Asset Type</label>
        <div class="filterItems" *ngFor="let item of assetTypeArray">
            <app-check-box [checkBoxLabel]="item" (checkBoxSelect)="checkBoxSelect($event)"></app-check-box>
        </div>
    </div>
    <div class="submitSection">
        <button mat-button class="submitFilter" (click)="displayFilteredRecords()">Submit</button>
    </div>
</div>

<div class="content">
    <div fxLayout="row wrap" fxLayoutGap="16px grid">
        <div fxFlex="25%" fxFlex.xs="100%" fxFlex.sm="33%" fxFlex.lg="25%" fxFlex.md="25%"
            *ngFor="let item of displayTiles">
            <app-post-tile [posts]="item" (upVoteItem)="upvote($event)"></app-post-tile>

        </div>
    </div>
    <button mat-button (click)="displayRecords()" disabled="{{disableLoad}}">Load More</button>
</div>
</div>